<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kext</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>KCPM Utility Pro EZInstaller</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>science.firewolf.kcpmp.ezinstaller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KCPM Utility Pro EZInstaller</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6.3.3570</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>FWDefaultSmartTable</key>
	<dict>
		<key>Contents</key>
		<dict>
			<key>ALF.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD10000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD2400Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD2600Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD3800Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD4600Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD4800Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD5000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD6000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD7000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD8000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9000Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9300Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9500Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9510Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9515Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMD9520Controller.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDFramebuffer.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDLegacyFramebuffer.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDLegacySupport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDMTLBronzeDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonVADriver2.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX3000.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX3000GLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4000.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4000GLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4100.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4150.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4200.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4250.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX4500HWServices.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX5000.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX5000GLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX5000HWServices.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX5000MTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDRadeonX5000Shared.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDShared.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AMDSupport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>ATIRadeonX2000.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>ATIRadeonX2000GLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>ATIRadeonX2000VADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AVEBridge.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AirPortBrcmNIC-MFG.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>Apple16X50Serial.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleACPIPlatform.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleAHCIPort.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleAPIC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleActuatorDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBCMWLANBusInterfacePCIe.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBCMWLANCore.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBCMWLANCoreV3_Datastore.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBMC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBacklight.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBacklightExpert.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBluetoothMultitouch.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBluetoothRemote.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleBusPowerController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleCameraInterface.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleCredentialManager.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleDataSetManagement.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleEFIRuntime.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleEffaceableNOR.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleEffaceableStorage.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleEmbeddedOSSupportHost.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFDEKeyStore.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFIVRDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFSCompressionTypeDataless.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFSCompressionTypeZlib.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFWAudio.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleFileSystemDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleGFXHDA.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleGraphicsControl.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleGraphicsPowerManagement.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHDA.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHIDALSService.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHIDKeyboard.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHIDMouse.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHIDTransport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHPET.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHPM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHSSPIHIDDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHSSPISupport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHV.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleHWSensor.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIRController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleInputDeviceSupport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphicsFramebuffer.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphicsMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelBDWGraphicsVAME.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelCPUPowerManagement.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelCPUPowerManagementClient.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelFramebufferAzul.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelFramebufferCapri.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelGraphicsShared.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD3000Graphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD3000GraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD3000GraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD4000Graphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD4000GraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD4000GraphicsMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD4000GraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD5000Graphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD5000GraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD5000GraphicsMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHD5000GraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHDGraphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHDGraphicsFB.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHDGraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHDGraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelHSWVA.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelIVBVA.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphicsFramebuffer.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphicsMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelKBLGraphicsVAME.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssDmac.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssGspi.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssI2C.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssI2CController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssSpiController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssUARTCommon.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssUARTv0.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelLpssUARTv1.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelMCEReporter.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelPCHPMC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphics.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphicsFramebuffer.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphicsGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphicsMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphicsVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSKLGraphicsVAME.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSNBGraphicsFB.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSNBVA.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleIntelSlowAdaptiveClocking.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleKextExcludeList.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleKeyStore.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleKeyswitch.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleLPC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleLSIFusionMPT.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMCCSControl.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMCP89RootPortPM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMatch.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMikeyHIDDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMobileDevice.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMobileFileIntegrity.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleMultitouchDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleOSXUSBNCM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleOSXWatchdog.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleOnboardSerial.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>ApplePlatformEnabler.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleRAID.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleRAIDCard.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleRTC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSDXC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSEP.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSEPManager.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMBIOS.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMBusController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMBusPCI.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMCLMU.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSMCRTC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSRP.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSSE.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleSmartBatteryManager.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleStorageDrivers.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltDPAdapters.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltEDMService.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltIP.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltNHI.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltPCIAdapters.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleThunderboltUTDM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleTopCase.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleTyMCEDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBACM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBAudio.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBCDC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBCommon.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBDMM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBDisplays.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBECM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBEEM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBEthernet.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBEthernetHost.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBFTDI.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBMultitouch.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBNCM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBNetworking.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBSerial.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBTopCase.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBWCM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUSBiBridge.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleUpstreamUserClient.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleWWANAutoEject.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AppleXsanScheme.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>Apple_iSight.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>AudioAUUC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>BCMWLANFirmware4364_Datastore.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>BootCache.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>BridgeAudioCommunication.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>BridgeAudioController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>CellPhoneHelper.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>CoreCaptureResponder.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>CoreStorage.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>DVFamily.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>Dont Steal Mac OS X.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>FakeSMC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForce.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceAIRPlugin.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceAIRPluginWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceGLDriverWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceMTLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceMTLDriverWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTesla.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTeslaGLDriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTeslaGLDriverWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTeslaVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTeslaVADriverWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceTeslaWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceVADriver.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceVADriverWeb.bundle</key>
			<string>/System/Library/Extensions/</string>
			<key>GeForceWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>HFS.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>HFSEncodings.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IO80211Family.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IO80211FamilyV2.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOACPIFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOAHCIFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOATAFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOAVBFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOAcceleratorFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOAcceleratorFamily2.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOAudioFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBDStorageFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBluetoothFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBluetoothHIDDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBufferCopyController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBufferCopyEngineFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOBufferCopyEngineTest.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOCDStorageFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IODVDStorageFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOFireWireAVC.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOFireWireFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOFireWireIP.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOFireWireSBP2.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOFireWireSerialBusProtocolTransport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOGraphicsFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOHDIXController.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOHIDFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOImageLoader.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IONDRVSupport.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IONVMeFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IONetworkingFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOPCIFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOPlatformPluginFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOReportFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSCSIArchitectureModelFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSCSIParallelFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSMBusFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSerialFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSkywalkFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSlaveProcessor.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSlowAdaptiveClockingFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOStorageFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOStreamFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOSurface.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOThunderboltFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOTimeSyncFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUSBAttachedSCSI.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUSBFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUSBHostFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUSBMassStorageClass.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUSBMassStorageDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOUserEthernet.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>IOVideoFamily.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>KXLog.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>KernelRelayHost.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>Libm.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAGF100Hal.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAGF100HalWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAGK100Hal.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAGK100HalWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAGM100HalWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDANV50HalTesla.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDANV50HalTeslaWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAResman.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAResmanTesla.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAResmanTeslaWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAResmanWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAStartup.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVDAStartupWeb.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>NVSMU.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>OSvKernDSPLib.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>PPP.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>Quarantine.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>RemoteVirtualInterface.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>SMCMotionSensor.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>Sandbox.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>System.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>TMSafetyNet.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>TestDeviceVCOM.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>TestDeviceVCOMACMControl.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>TestDeviceVCOMACMData.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>acfs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>acfsctl.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>apfs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>autofs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>cd9660.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>cddafs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>corecapture.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>corecrypto.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>exfat.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>iPodDriver.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>mcxalr.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>msdosfs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>ntfs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>pmtelemetry.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>pthread.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>smbfs.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>triggers.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>udf.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>vecLib.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>webcontentfilter.kext</key>
			<string>/System/Library/Extensions/</string>
			<key>webdav_fs.kext</key>
			<string>/System/Library/Extensions/</string>
		</dict>
		<key>Version</key>
		<string>1.2</string>
	</dict>
	<key>FWXPCHelperBundleIdentifier</key>
	<string>science.firewolf.kcpmp.helper</string>
	<key>FWXPCHelperBundleVersion</key>
	<string>6.3.3570</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015-2017 FireWolf. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>science.firewolf.kcpmp.helper</key>
		<string>anchor apple generic and identifier "science.firewolf.kcpmp.helper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "9DEHECPA28")</string>
	</dict>
</dict>
</plist>
